body {
    background-color: powderblue;
}
 
  
  .button {
    color: rgba(243, 24, 24, 0.986);
    text-decoration: none;
    font-size: 32px;
}

.button:hover {
    text-decoration: underline;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}